html, body {
   height: 92%;
}

body
{			  
   width: 1000px;
   margin: 0 auto;
   text-align: left;
   color:#43609c;
   font-family:Arial, Helvetica, sans-serif;
}

label{
	text-align: right;
}

.header{

}
.datesNewsFeed
{
font-size:12px;
}
.linkButton
{
background: none! important;
border: none;
padding: 0!important;
color:#43609c;
margin-left:10px;
}

#calendar{
	width: 600px;
	margin: 0 auto;
}

.linkButton:hover
{
text-decoration:underline;
cursor: pointer;
color:#43609c;
margin-left:10px;
}

.centered{
	text-align: center;
}

.dataTable{
	width: 800px;
	margin: 0 auto;
}

.activityFeedForm{
	clear: both;
	margin-left: 25%;
	width: 100px;
}

.content{
min-height:95%;
height: auto;
 border:4px solid #43609c;
border-radius: 30px;
font-family:Arial, Helvetica, sans-serif;
padding-left: 15px;
padding-top:15px;
margin: 0 auto;
padding-bottom:30px;
}

nav.main
{
display: block;
margin: 0 auto;
width: 720px;
clear: both;
overflow: hidden;
}

nav.sub{
	display: block;
	margin: 0 auto;
	width: 400px;
	clear: both;
	overflow: hidden;
}

.hidden{
	display: none;
}

.links
{
display: block;
width:100px;
height: 30px;
line-height: 26px;
float:left;
text-align:center;
text-decoration: none;
color: white;
background-color: #43609c;
}

a.links:hover{
	color: #43609c;
	background-color: white;
}

a.friendLink{
	color: #43609c;
	text-decoration: none;
}

a.friendLink:hover{
	text-decoration: underline;
}

.subLink{
	font-size: 0.8em;
	height: 20px;
	line-height: 17px;
}

.current{
	font-size: 1em;
}

.navBoxLeftEdge{
	border-left: 2px solid #43609c;
	border-top: 2px solid #43609c;
	border-bottom: 2px solid #43609c;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.navBoxLeftEdge.subLink{
	border-top-left-radius: 0px;
	border-top: 0px;
}

.navBoxCenter{
	border-top: 2px solid #43609c;
	border-bottom: 2px solid #43609c;
}

.navBoxCenter.subLink{
	border-top: 0px;
}

.navBoxRightEdge{
	border-right: 2px solid #43609c;
	border-top: 2px solid #43609c;
	border-bottom: 2px solid #43609c;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	clear: right;
}

.navBoxRightEdge.subLink{
	border-top: 0px;
	border-top-right-radius: 0px;
}



.footer{
padding-bottom:30px;
}

.incorrect{
	color: red;
	font-style: italic;
}
.wrapper{
	min-height: 92%;
height: 100%;
font-family:Arial, Helvetica, sans-serif;
margin: 0 auto;
}

.newActivity{
	display: none;
}

.bordered{
	border: 2px solid #43609c;
	border-collapse: collapse;
}

.profilePic{
	float: left;
	margin-right: 5px;
}

.box{
	border: 1px solid #43609c;
	border-radius: 30px;
	padding: 10px;
	overflow: hidden;
}

.lifeStat{
	width: 250px;
	margin: 10px;
}

div.profile{
	overflow: hidden;
	padding: 10px;
	clear: both;
}

.goal{
	width: 290px;
	display: table-cell;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.myFriend{
	width: 290px;
	display: table-cell;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.smallText{
	font-size: 10px;
}

.noPadding{
	padding: 0px;
	line-height: 5px;
}
.noMargin{
	margin: 0px;
}

.friendButton{
	float: right;
}

.workoutComment{
	margin: 0px;
	padding: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 600px;
}

.homeWorkout{
	float:left;
	margin-bottom: 5px;
	width: 600px;
}

.workoutsContainer{
	overflow: hidden;
}

.clear
{
clear: both;
}

.homeLeaders
{
float:right;
width: 280px;
padding:10px;
margin-right:20px;
text-align:center;

}

.titlesHomePage
{
font-size:22px;
font-weight:bold;
}
.scoreCell
{
padding-left:570px;
}

.leadersBox
{
	border: 1px solid #43609c;
	border-radius: 30px;
}
.leadersBordered{
	border: 1px solid white;
	border-collapse: collapse;
}

.rankingText
{
font-weight:bold;
font-size:25px;
}

.workoutInfo{
	margin-left: 37px;
}
#registrationForm{
	float: left;
	width: 400px;
}
#registrationLabels{
	float: left;
	width: 200px;
}
#registrationFields{
	float: right;
	width: 200px;
}
#siteDescription{
	width:550px;
	float: right;
}
textarea{
	resize: none;
}

	   
p
{
	text-align: left;
}

